@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Viga&display=swap');

$c1: #4d4646;
$c2: #5b5656;
$c3: #7fcd91;
$c5: #f5eaea;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Luckiest Guy';

  background: $c1;
  color: $c5;
  font-size: 1.2em;
  padding: 2vmin 10vmin;
}

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  letter-spacing: 0.05em;
  font-size: 4em;
  margin: 0;
}

h3 {
  font-size: 2em;
}

button {
  font-family: Viga;
  border: 0;
  border-radius: 2vmin;
  background: $c5;
  margin: 1vmin;
  padding: 2vmin 10vmin;
  font-size: 2em;

  &:hover {
    background: $c2;
  }

  &.done {
    background: $c3;
  }
}
